//colours
$colour-primary:  #212226;
$colour-secondary: #f2edef;
$colour-ui-primary: #007a33;
$colour-ui-accent: #ffce00;
// $colour-ui-navbar: #f2edef;
$colour-ui-shadow: rgba(0, 0, 0, 0.169);

$shadow: 6px 10px 11px 0px $colour-ui-shadow;

//Typography
$font-primary: "basic-sans", sans-serif;
//Available in 200
$font-heading: jaf-domus-titling-web, sans-serif;
//Available in 200, 300, 400
$font-logo: "apertura", sans-serif;
// Available in 400,